<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>Spectrasoft</Name>
  <Version>0.1.0</Version>
  <Title>Software para el manejo del MiniScan XE Plus.</Title>
  <Publisher>Gabriel Núñez</Publisher>
  <StartMenuDir>Spectrasoft</StartMenuDir>
  <TargetDir>@rootDir@Spectrasoft</TargetDir>
  <UninstallerName>Desinstalar</UninstallerName>
</Installer>